*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

header{
    padding: 20px 0;
}
header h1{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
.display h2{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    border: 2px solid green;
}

.box input{
    color: green;
    display: block;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid green;
    background-color: transparent;
}

.box button{
    display: block;
    margin: 30px auto;
    padding: 10px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid green;
    color: green;
}

.resposta{
    margin: 0 auto;
    max-width: 500px;
}

.resposta p{
    font-size: 20px;
    text-align: center;
    color: green;
    border-bottom: 1px solid green;
    width: 50%;
    margin: 20% auto;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: green;
    text-align: right;
}

.game-over{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: red;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    display: none;
}
.game-over h1{
    text-align: center;
    margin-top: calc(25% - 25px);
    
}
.game-over > p{
    display: block !important;
    text-align: center !important;
    font-size: 20px;
}


@media screen and (max-width: 650px) {
    body{
        padding:  0 30px;
    }
    .game-over{
       margin-left: -30px;
      
    }
    
}